#section-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: calc(65.83vw + 4rem);
    background-color: #00bfff;
    margin-top: 2rem;
}

#section-schedule > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid darkred;
    border-left: 2px solid darkred;
    border-right: 2px solid darkred;
}

.tr-thead {
    display: flex;
}

.th {
    width: calc(100% / 3);
    font-size: 1.5rem;
}

.colunm1 {
    background-color: crimson;
}

.colunm2 {
    background-color: color-mix(in srgb, crimson 50%, hotpink 50%);
}

.colunm3 {
    background-color: hotpink;
}

tr {
    display: flex;
    width: 100%;
    border-bottom: 2px solid darkred;
}

td {
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    font-size: 1.2rem;
}


