#section-tickets {
    width: 65.83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem 2rem 3rem 2rem;
}

#section-tickets > img {
    width: calc(80% - 4rem);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
        scale: 1.15;
        animation: mover 2s infinite, brilharCaixa 2s infinite;
    } 
}