header {
    width: calc(65.83vw + 4rem);
    height: 10vh;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    background-color: #8a2be2;
    position: fixed;
    top: 0;
    z-index: 2;
}

header > img {
    height: 10vh;
    border-radius: 2rem 0 0 2rem;
}

header > nav {
    width: 90vw;
}

header > nav > ul {
    display: flex;
    justify-content: space-evenly;
}

header > nav > ul > li {
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    &:hover {
        color: #ffd700;
    }
}

/* header > nav > ul > li > a:hover{
    color: #ffd700;
} */

.scrolled {
    background-color: #4b0082; /* Cor quando desce na página */
    transition: 1.5s;
}
  
.hidden {
    opacity: 0;
    pointer-events: none;
}