@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  }
  
  .button-default {
    margin: auto;
    margin-top: 1rem;
    padding: 2.5rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 2rem;
    color: white;
    background-color: #FF1493;
    width: 32rem;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
      background-color: white;
      color: #FF1493;
    }
    animation: mover 2s infinite, brilharCaixa 2s infinite;
}

.h2-default {
  font-size: 3.2rem;
  color: #FFD700;
  text-shadow: 1px 2px 1px black;
}

.p-default {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 1px 2px 1px black;
  margin-bottom: 1.5rem;
}

.box-default {
  border-radius: 2rem;
  padding: 2rem;
  background-color: #8a2be2;
}