#section-contacts {
    width: calc(65.83vw + 4rem);
}

#section-contacts > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

#section-contacts > ul {
    display: flex;
    justify-content: space-evenly;
}

#section-contacts > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
}

#section-contacts > ul > li > img {
    height: 4vh;
    margin-right: 0.6rem;
}

#section-contacts > ul > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    &:hover {
        color: #ffd700;
    }
}