#section-contacts {
    width: calc(65.83vw + 4rem);
}

#section-contacts > div{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
}

#section-contacts > ul {
    display: flex;
    justify-content: space-evenly;
}

#section-contacts > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
}

#section-contacts > ul > li > img {
    height: 4vh;
    margin-right: 1rem;
}

#section-contacts > ul > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    &:hover {
        color: #ffd700;
    }
}